@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	font-family: 'Open Sans', sans-serif;
}

body { 
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.img-flex {
	display: block;
	width: 100%;
}

nav a { 
	text-decoration: none;
	color: black;
	font-size: 10pt;
	margin: 1em;
}

nav a:hover { 
	color: red;
} 

.wordmark { 
	width: 9em; 
	height: auto;
}

.mainhead { 
	text-align: center;
}

.about { 
	text-align: center;
	padding-right: 5em;
	padding-left: 5em;
}