@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body { 
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.img-flex {
	width: 100%;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: white; 
}

.skip-links a {
	padding: 0.5em 0.75em;
	position: absolute;
	top: -3em;
	background-color: #000;
	color: #fff;
	font-size: 1.125em;
	font-weight: bold;
	text-decoration: none;
}

.skip-links a:focus {
  	top: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
	color: inherit;
}

.nav a { 
	text-decoration: none;
	color: #484849;
	font-size: 14pt;
}

.nav a:hover { 
	color: black;
    display: inline-block;
    border-bottom: 3px solid black;
} 

.wordmark { 
	width: 7em; 
	height: 3.5em;
	display: block;
}

.mainhead { 
	text-align: center;
}

.banner { 
	padding-top: 7em;
	padding-bottom: 7em;
	background-color: #8B8C8C;
	text-align: center;
}

.subheader { 
	font-size: 16px;
    font-weight: 500;
    padding-bottom: 1em;
    display: block;
	padding-right: 1em; 
	padding-left: 1em;
}

.btn-work {
    color: white;
	text-decoration: none;
	font-size: 14px;
	padding: 9px 40px;
	border-style: solid;
	border-color: white;
	border-width: 4px;
	-webkit-transition: all 120ms linear;
  	-moz-transition: all 120ms linear;
  	-o-transition: all 120ms linear;
	-ms-transition: all 120ms linear;
	transition: all 120ms linear;
	text-align: center;
}

.btn-work:hover {
    opacity: .4; 
}

.worked { 
	text-align: center;
	color: white;
	padding-top: 3em;
	padding-bottom: 3em;
}

.about { 
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 1em;
    display: block;
}

.about-me { 
	padding: 2em;
	background-color: #F4F4F4;
}

.info { 
	padding-top: 2em;
}

.contact ul { 
	list-style: none;
	padding: 1.75em 0 0 0;
}

.contact li { 
    font-size: 14px;
    line-height: 15px;
    text-align: center;	
	text-decoration: none;
}

.contact a:link {
    text-decoration: none;
	color: #484849;
}

.contact a:hover { 
	color: #AFAFB2;
}

.portfolio-section {
	background-color: grey;
	-webkit-transition: all 120ms linear;
  	-moz-transition: all 120ms linear;
  	-o-transition: all 120ms linear;
	-ms-transition: all 120ms linear;
	transition: all 120ms linear;
}

.portfolio-section :hover {
    background-color: #E0E0E0; 
	color: grey;
}

.title {
	text-align: center;
	background-color: grey;
	padding: 1em;	
}

.portfolio-description {
	text-align: left;
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;
	letter-spacing: .1em;
}

.description-title {
    text-align: left;
    line-height: .5rem;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    border-bottom: 1px solid #ccc;
	padding-bottom: 1em;
    margin: 1.25em;
    display: block;
}

.portfolio-text-align {
	text-align: left;
}

.initial-description {
    text-align: left;
    line-height: 1.5rem;
    font-size: 16px;
    display: block;
	margin: 1.25em;
}

.placeholder { 
	padding: 0; 
	margin: 0;
}

.btn-behance {
    color: grey;
	text-decoration: none;
	font-size: 14px;
	padding: 10px 12px;
	font-weight: 400;
	border-style: solid;
	border-color: grey;
	border-width: 4px;
	-webkit-transition: all 120ms linear;
  	-moz-transition: all 120ms linear;
  	-o-transition: all 120ms linear;
	-ms-transition: all 120ms linear;
	transition: all 120ms linear;
	text-align: center;
}

.btn-behance:hover {
    opacity: .4; 
}

.behanced { 
	text-align: center;
	color: grey;
	padding-top: 3em;
	padding-bottom: 3em;
}

.tools { 
 	text-align: left;
    line-height: .5rem;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .1em;
	padding-bottom: 1em;
    margin: 1.25em;
    display: block;
}

#footer {
	position: absolute;
	height: 400px;
	background-color: grey;
	width: 100%;
	text-align: center;
}

.talking-info { 
	font-size: 18px;
    font-weight: 500;
    padding-bottom: .5em;
    display: block;
	padding-right: 2em; 
	padding-left: 2em;
	text-align: center;
	color: 
}

.footer-content {
 	padding-top: 70px;  
	background-color: #F4F4F4;
	padding-bottom: 1em;
}

.contact li {
	font-size: 13px;
	line-height: 1.5rem;
	color: grey;
}

.contact ul { 
	padding-bottom: 1em;
	text-align: justify;
}

#footer .email a{
	color: grey;
	text-decoration: none;
	font-size: 20px;
	padding: 8px 40px;
	border-style: solid;
	border-color: grey;
	border-width: 4px;
	-webkit-transition: all 120ms linear;
  	-moz-transition: all 120ms linear;
  	-o-transition: all 120ms linear;
	-ms-transition: all 120ms linear;
	transition: all 120ms linear;
}

#footer p a:hover {
	opacity: .4;   
}

.icon { 
	width: 2em;
	padding-top: 2.5em;
	display: inline;
}

.copyright { 
	color: grey; 
	font-size: 8pt;
	font-weight: 400;
	text-align: center;
	padding-top: .5em;
}

.btt { 
	padding-top: 0;
	color: grey; 
	font-size: 10pt;
	font-weight: 400;
	text-decoration: none;
	margin: 0;
}

.contact-icon {
	width: 1.5em;
    margin: 0;
    display: inline-block;
    margin-right: 1em;
}

.design-icons { 
	width: 12em;
}

.contact-icons { 
	margin: 0; 
	padding: 0;
	max-width: 55%;
	position: relative;
	left: 50%; 
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
  	-moz-transform: translateX(-50%);
  	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.dark-border {
    display: block;
    width: 60px;
    height: 4px;
    background: #38373d;
    margin: 0 auto;
    margin-top: -1.4rem;
}

.work-section { 
	padding-bottom: 3em;
}

@media only screen and (min-width: 30em) { 
	.wordmark { 
		padding: 0;
		margin: 0;
	}
	
	.btn-behance {
		font-size: 16px;
	}
	.about { 
		padding-right: 1em; 
		padding-left: 1em;
}
}


@media only screen and (min-width: 40em) { 
	.about-me { 
		padding: 5em; 
	}
	
	.finish-info { 
		padding-right: 7em; 
		padding-left: 7em;
	}
}

@media only screen and (min-width: 60em) { 
	.about-me { 
		padding-left: 15em; 
		padding-right: 15em;
	}
}

