@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	font-family: 'Open Sans', sans-serif;
}

body { 
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.img-flex {
	width: 100%;
}

//** Navigation **// 


nav a { 
	text-decoration: none;
	color: black;
	font-size: 10pt;
	margin: 1em;
}

nav a:hover { 
	color: red;
} 

.wordmark { 
	width: 7em; 
	height: 3.5em;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainhead { 
	text-align: center;
}

//** About me **// 

.about { 
	font-weight: 400;
	text-align: center;
	padding-right: 2em;
	padding-left: 2em;
	font-size: 18px;
}

.info { 
	padding-top: 2em;
}

.contact ul { 
	list-style: none;
	padding: 1.75em 0 0 0;
}

.contact li { 
    font-size: 14px;
    font-weight: 900;
    line-height: 15px;
    text-align: center;	
	text-decoration: none;
}

.contact a:link {
    text-decoration: none;
	color: black;
}

.contact a:hover { 
	color:red;
}

//** Portfolio Section **// 

.portfolio-section-1 {
	background-color: #4f5462;
	color: red;

}

.portfolio-description {
	text-align: left;
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;
	letter-spacing: .1em;
}

.text-align {
	text-align: center;
	background-color: grey;
}

.description-title {
    text-align: left;
    line-height: .5rem;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    border-bottom: 1px solid #ccc;
	padding-bottom: 1em;
    margin: 1.25em;
    display: block;
}

.portfolio-text-align {
	text-align: left;
}

.initial-description {
    text-align: left;
    line-height: 1.5rem;
    font-size: 14px;
    display: block;
	margin: 1.25em;

}

















@media only screen and (min-width: 30em) { 
	.wordmark { 
		padding: 0;
		margin: 0;
	}
}

@media only screen and (min-width: 40em) { 
	.about { 
		padding-right: 5em;
		padding-left: 5em;
	}
	
} 



