<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Sara Clayton • Ottawa Graphic Designer</title>
	<meta name="keywords" content="Graphic design, Web design, UI/UX designer">
    <meta name="language" content="EN">
    <meta name='subject' content='porfolio, design, graphic, image, web, UX UI'>
    <meta name='designer' content='Sara Clayton'>
    <meta name="description" content="{{page.meta}}">
    <meta name="author" content="Sara Clayton">
    <meta name="copyright" content="&#169; Sara Clayton">
    <meta name="geo.region" content="CA-Ontario">
	
    <meta property="og:type" content="article">
    <meta property="og:title" content="Sara Clayton · Ottawa Graphic Designer">
    <meta property="og:url" content="www.saraaclayton.ca">
    <meta property="og:image" content="{{site.baseurl}}">
    <meta property="og:site_name" content="Sara Clayton">
    <meta property="og:discription" content="Sara Clayton UX UI Web designer based in Ottawa, Canada.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Sara Clayton · Ottawa Graphic Designer">
    <meta name="twitter:url" content="www.saraaclayton.ca">
    <meta name="twitter:description" content="Sara Clayton UX UI Web designer based in Ottawa, Canada.">
    <meta name="twitter:image" content="{{site.baseurl}}">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="{{page.meta}}">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
	<link href="css/main.css" rel="stylesheet">
	<link href="css/grids.css" rel="stylesheet">
</head>
	
<ul class="skip-links">
	<li><a href="#nav" aria-label="Go to navigation">Jump to navagation</a></li>
	<li><a href="#work" aria-label="Go to portfolio work">Jump to portfolio</a></li>
	<li><a href="#footer" aria-label="Go to contact info">Jump to contact</a></li>
</ul>	
	
<div id="nav">	
	<header class="grid grid-middle nav-bar"> 
		<div class="unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2">
			<img src="images/wordmark.svg" class="wordmark" alt="Sara Clayton wordmark">
		</div>
		<nav style="text-align:center;" class="nav unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2" role="navigation">
			<ul class="grid">
				<li class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3"><a href="#about">about</a></li>
				<li class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3"><a href="#work">work</a></li>
				<li class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3"><a href="#footer">say hello</a></li>
			</ul>	
		</nav>			
	</header>	
</div>	
	
	{{content}}
	
	
	<div id="footer" role="contentinfo">

		<div class="footer-content">
			<h1 class="mainhead">let's chat</h1>	
			<span class="dark-border"></span>
			<p class="talking-info">Interested in working together?</p>
			<div class="contact">
				<ul>
					<li><img class="contact-icon" src="images/email.svg" alt="email icon">613-219-1166</li>
					<li><img class="contact-icon" src="images/phone.svg" alt="phone icon">hello@saraaclayton.ca</li>
				</ul>
			</div>

			<p class="email" style="text-align:center;"><a href="mailto:hello@saraaaclayton.ca">email me</a></p>

			<div class="grid contact-icons">
				<div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3" role="button">
					<a href="https://twitter.com/sara_clayton_" aria-label="Twitter link" >
						<img class="icon" src="images/twittericon.svg" alt="twitter link">
					</a>
				</div>
				<div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3" role="button">
					<a href="https://ca.linkedin.com/in/saraclaytonottawa" aria-label="Linkedin link">
						<img class="icon" src="images/linkdenicon.svg" alt="linkden link">
					</a>
				</div>
				<div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3" role="button">
					<a href="https://www.behance.net/SaraClayton" aria-label="Behance link">
						<img class="icon" src="images/behanceicon.svg" alt="behance link">
					</a>
				</div>
			</div>
			<p class="copyright">©Sara Clayton 2015</p>	
			<a class="btt" href="#top">back to the top</a>
		</div>
     </div>

	
</html>